{% extends "admin-portal.html" %}
{% block scripts %}
<script src="/static/admin_data.js"></script>
<script>
    setCSRF('{{ csrf_token() }}');
</script>
{% endblock %}
{% block dashboard_content %}
<h2>Meal plans:</h2>
    <div id="mealplanTable">
    <button onclick="toggleElement('newMealPlanForm');">Add Meal Plan</button>
    <div class="inlineForm hidden" id="newMealPlanForm"><form></form></div>
    
    <table id="mealplan-entries">
        <tr><td>Loading...</td></tr>
    </table>
    <script>loadAdminData('meal_plan', 'mealplan-entries');</script>

</div>
{% endblock %}