{% extends "admin-portal.html" %}
{% block scripts %}
<script src="/static/admin_data.js"></script>
{% endblock %}
{% block dashboard_content %}
<script>
    setCSRF('{{ csrf_token() }}');
</script>
<h2>User accounts:</h2>
<div id="userTable">
    <button onclick="toggleElement('newUserForm');">Add User</button>
    <button onclick="toggleElement('editUserForm');">Edit User</button>
    <div class="inlineForm hidden" id="newUserForm">
        <form>
            {% with f = user_forms["new_user_form"] %}
            {{ message }}
            {{ f.hidden_tag() }}
            {% for field in f if field.widget.input_type != 'hidden' %}
            {{ field.label }}: {{ field }}
            {% endfor %}
            {% endwith %}
        </form>
    </div>
    <div class="inlineForm hidden" id="editUserForm">
        <form>
            {% with f = user_forms["edit_user_form"] %}
            {{ message }}
            {{ f.hidden_tag() }}
            {% for field in f if field.widget.input_type != 'hidden' %}
            {{ field.label }}: {{ field }}
            {% endfor %}
            {% endwith %}
        </form>
    </div>
    
    <table id="user-entries">
        <tr><td>Loading...</td></tr>
    </table>
    <script>loadAdminData('user', 'user-entries');</script>
</div>
<hr>
<div id="studentTable">
    <h2>Students:</h2>
    <button onclick="toggleElement('newStudentForm');">Add Student</button>
    <div class="inlineForm hidden" id="newStudentForm">
        <form>
            {% with f = user_forms["new_student_form"] %}
            {{ message }}
            {{ f.hidden_tag() }}
            {% for field in f if field.widget.input_type != 'hidden' %}
            {{ field.label }}: {{ field }}
            {% endfor %}
            {% endwith %}
        </form>
    </div>
    <table id="student-entries">
        <tr><td>Loading...</td></tr>
    </table>
    <script>loadAdminData('student', 'student-entries');</script>
</div>
<hr>
<div id="adminTable">
    <h2>Admins:</h2>
    <button onclick="toggleElement('newAdminForm');">Add Admin</button>
    <div class="inlineForm hidden" id="newAdminForm">
        <form>
            {% with f = user_forms["new_admin_form"] %}
            {{ message }}
            {{ f.hidden_tag() }}
            {% for field in f if field.widget.input_type != 'hidden' %}
            {{ field.label }}: {{ field }}
            {% endfor %}
            {% endwith %}
        </form>
    </div>
    <table id="admin-entries">
        <tr><td>Loading...</td></tr>
    </table>
    <script>loadAdminData('admin', 'admin-entries');</script>
</div>
<hr>
<div id="managerTable">
    <h2>Managers:</h2>
    <button onclick="toggleElement('newManagerForm');">Add Manager</button>
    <div class="inlineForm hidden" id="newManagerForm">
        <form>
            {% with f = user_forms["new_manager_form"] %}
            {{ message }}
            {{ f.hidden_tag() }}
            {% for field in f if field.widget.input_type != 'hidden' %}
            {{ field.label }}: {{ field }}
            {% endfor %}
            {% endwith %}
        </form>
    </div>
    <table id="manager-entries">
        <tr><td>Loading...</td></tr>
    </table>   
    <script>loadAdminData('manager', 'manager-entries');</script>
</div>
<hr>
<div id="employeeTable">
    <h2>Employees:</h2>
    <button onclick="toggleElement('newEmployeeForm');">Add Employee</button>
    <div class="inlineForm hidden" id="newEmployeeForm">
        <form>
            {% with f = user_forms["new_employee_form"] %}
            {{ message }}
            {{ f.hidden_tag() }}
            {% for field in f if field.widget.input_type != 'hidden' %}
            {{ field.label }}: {{ field }}
            {% endfor %}
            {% endwith %}
        </form>
    </div>
    <table id="employee-entries">
        <tr><td>Loading...</td></tr>
    </table>
    <script>loadAdminData('employee', 'employee-entries');</script>
</div>
<hr>
{% endblock %}