{% extends "admin-portal.html" %}
{% block scripts %}
<script src="/static/admin_data.js"></script>
<script>
    setCSRF('{{ csrf_token() }}');
</script>
{% endblock %}
{% block dashboard_content %}
<h2>Menus:</h2>
    <div id="menuTable">
    <button onclick="toggleElement('newMenuForm');">Add Menu</button>
    <div class="inlineForm hidden" id="newMenuForm"><form></form></div>
    
    <table id="menu-entries">
        <tr><td>Loading...</td></tr>
    </table>
    <script>loadAdminData('menu', 'menu-entries');</script>

</div>
{% endblock %}