{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="content">
<div class="dashboard">
    <h1>Dashboard</h1>
    <p>Under construction!</p>
    <h2>Account Details for {{ current_user.name }}</h2>
    <ul>
        <li>User id: {{ current_user.user_id }}</li>
        <li>Email: {{ current_user.email }}</li>
    </ul>
    <h2>Student info:</h2>
    {% if student is not none %}
        <ul>
            <li>Balance: ${{ student.balance }}</li>
        </ul>
    {% else %}
        <p>User is not a student!</p>
    {% endif %}
</div>
</div>
{% endblock %}