{% extends "layout.html" %}

{% block title %}Feedback{% endblock %}

{% block content %}
    <h1 class = "title">Feedback for the Meal</h1>
    <h2 class = "subtitle">Your FEEDBACK Matters! Please let me know how you like the food</h2>
    <div class = "cafeteria-container" id="feedback">
        
        <div class = "cafeteria">
            <h2>Selected Meal</h2>
            <img src="/static/images/foodfeedbackgood.png" alt="image">
            <div class = "cafeteria-info">
                <ul> <!--Unordered lsit using dot-->
                    <li>Meal Name: Egg Scramble</li>
                    <li>Price: </li>
                    <li>Ingredients: </li>
                    <li>Dietary Restriction: </li>
                </ul>  
            </div>
        </div>
        
        
        <div class = "meal-feedback">
            <!-- File Upload Form -->
            
            <h2>Upload an Image</h2>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="file" id="fileInput" accept="image/*">
                <br><br>
                <img id="imagePreview" src="#" alt="Image Preview" style="display: none;">
                <br><br>
                <input type="submit" value="Upload">
            </form>
            
            
        
            
            <!-- Display uploaded image -->
            {% if filename %}
                <h2>Uploaded Image:</h2>
                <img src="{{ url_for('uploaded_file', filename=filename) }}" width="300">
            {% endif %}
            
        </div>
        
        <div class = "meal-feedback">
                <div class = "form-info">
                    <h2>Filling in your Feedback</h2>
                    <form action = "#" method = "get" onsubmit="return validateEmail()">
                        
                        <div class = "input-box">
                            <input type = "name" required>
                            <label>First Name</label>
                        </div>
                        
                        <div class = "input-box">
                            <input type = "name" required>
                            <label>Last Name</label>
                        </div>
                        
                        <div class = "input-box">
                            <input type = "email" required>
                            <label>Email</label>
                        </div>
                        
                        <div class = "input-box">
                            <input type = "student_id" required>
                            <label>Student ID</label>
                        </div>
                    </form>
                </div>
        </div>
        
        <div class = "meal-feedback">
            
                <div class = "form-box login">
                    
                    <form action = "#" method = "get" onsubmit="return validateEmail()">
                        
                        <h2>Rate the food</h2>

                        <form action="/submit-rating" method="POST">
                            <div id="star-rating">
                                <!-- Stars will be generated by JavaScript -->
                            </div>
                            <input type="hidden" name="rating" id="rating-value">
                            <button type="submit">Submit</button>
                        </form>
                        
                        <h2>Food Feedback</h2>
                        
                        <div class ="message-form">
                            <label>Your Feedback</label>
                            <br/>
                            <input type="text" name="message" value="">
                        </div>  
                        <button type="button" class="btn btn-success">Submit</button>
                    </form>
                </div>
        </div>
        
    </div>
    
    
{% endblock %}