<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Dining hall meal plan manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class = "header">
        <a href="{{ url_for('views.home') }}">
            <img src="/static/images/logo.png" alt="Logo" class = "logo">
        </a>
        
        <nav class = "navbar">
            <a href = "{{ url_for('views.home') }}">Home</a> <!--the name of the function-->
            <a href = "{{ url_for('views.view_dining_halls') }}">Today's menu</a>
            {% if current_user.is_authenticated %}
                <a href="{{url_for('views.dashboard')}}">Dashboard</a>
            {% else %}
                <a href = "{{ url_for('views.login') }}">Login</a>
            {% endif %}
            <a href = "{{ url_for('views.meal_plan_id') }}">Meal Plan</a>
            <a href = "#">Feedback</a>
            <a href = "{{ url_for('views.contact') }}">Contact</a>   
        </nav>
    </header>
    
    <!-- Page Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    
    
    
    
    
</body>
</html>