{% extends "layout.html" %}

{% block title %}Dining Hall Meal Plan Manager{% endblock %}

{% block content %}

    <!-- Displaying basic information -->
    <h1 class = "title">Manage Meal Plan</h1>
    <hr>

    <div class = "mealplan">
        <h2 class="subtitle">Current Meal Plan:</h2>
        <p><b>Level:</b> {{ student.plan_id }}</p>
        <p><b>Balance:</b> {{ student.balance }}</p>
        <hr>
    
        <!-- Option to change meal plan -->
        <h2 class="subtitle">Change Meal Plan</h2>
    
        <label for="plan_id">Choose a Meal Plan Level:</label>

        <!-- form handling -->
        <form method="POST">
            <!-- csrf token -->
            {{ form.hidden_tag() }}

            <!-- form for mealplan -->
            {{ form.plan_id() }}

            <!-- submit button -->
            {{ form.submit() }} 
        </form>
        <hr>

        <!-- Displaying information on each meal plan here -->
        <h2 class = "subtitle">Meal Plan Details</h2>
        <hr>
        
    </div>




{% endblock %}